@import "tailwindcss";

body {
  line-height: calc(1em + 8px);
}

:root {
  --background-neutral-default: hsl(0 0% 96%);
  --background-neutral-faded: hsl(0 0% 92%);
  --background-neutral-subtle: hsl(0 0% 88%);
  --background-neutral-strong: hsl(0 0% 80%);
  --foreground-neutral-default: hsl(0 0% 4%);
  --foreground-neutral-inverse: hsl(0 0% 96%);
  --border-neutral-default: hsl(0 0% 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-neutral-default: hsl(0 0% 4%);
    --background-neutral-faded: hsl(0 0% 8%);
    --background-neutral-subtle: hsl(0 0% 12%);
    --background-neutral-strong: hsl(0 0% 16%);
    --background-neutral-inverse: hsl(0 0% 96%);
    --foreground-neutral-default: hsl(0 0% 96%);
    --foreground-neutral-inverse: hsl(0 0% 4%);
    --border-neutral-default: hsl(0 0% 24%);
  }
}

@theme inline {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1280px;

  --color-*: initial;
  --color-transparent: transparent;
  --color-background-neutral-default: var(--background-neutral-default);
  --color-background-neutral-faded: var(--background-neutral-faded);
  --color-background-neutral-subtle: var(--background-neutral-subtle);
  --color-background-neutral-strong: var(--background-neutral-strong);
  --color-background-neutral-inverse: var(--background-neutral-inverse);
  --color-foreground-neutral-default: var(--foreground-neutral-default);
  --color-foreground-neutral-faded: var(--foreground-neutral-default);
  --color-foreground-neutral-subtle: var(--foreground-neutral-default);
  --color-foreground-neutral-strong: var(--foreground-neutral-default);
  --color-foreground-neutral-inverse: var(--foreground-neutral-inverse);
  --color-border-neutral-default: var(--border-neutral-default);

  --font-*: initial;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-*: initial;
  --text-body-small: 12px;
  --text-body-medium: 14px;
  --text-body-large: 16px;
  --text-title-small: 18px;
  --text-title-medium: 20px;
  --text-title-large: 24px;
  --text-display-small: 32px;
  --text-display-medium: 40px;
  --text-display-large: 48px;
}
