.new-stream-form__input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  transition: all var(--motion-transition-duration);
}

.new-stream-form__input::placeholder {
  color: var(--color-surface-foreground-weakest);
}

.new-stream-form__input:hover {
  background-color: var(--color-surface-background-subtle);
}

.new-stream-form__input:focus-visible {
  background-color: var(--color-surface-background-subtle);
}
