@layer reset, system, layout;

@layer reset {
  * {
    all: unset;
    display: revert;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: calc(1em + 8px);
  }

  :where(html) {
    block-size: 100%;
    color-scheme: light dark;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  :where(body) {
    min-block-size: 100%;
  }

  :where(img, picture, video, canvas, svg) {
    display: block;
    max-inline-size: 100%;
  }

  :where(input, button, textarea, select) {
    font: inherit;
  }

  :where(a, button) {
    cursor: revert;
  }

  :where(ol, ul, menu) {
    list-style: none;
  }

  ::placeholder {
    color: unset;
  }

  ::marker {
    content: initial;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: inherit;
    text-wrap: balance;
  }

  :where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
  }
}

@layer layout {
  body {
    --layout-container-padding: 16px;
    --layout-container-inline-size: 960px;

    padding: var(--layout-container-padding);
    max-inline-size: var(--layout-container-inline-size);
    margin-inline: auto;
  }
}

@layer system {
  @layer color {
    :root {
      --color-neutral-100: 35 8% 96%;
      --color-neutral-900: 35 8% 4%;
    }

    @media (prefers-color-scheme: dark) {
      :root {
        color-scheme: dark;

        --color-surface-background-default: hsl(35 8% 8%);
        --color-surface-background-high: hsl(35 8% 12%);
        --color-surface-background-low: hsl(35 8% 6%);
        --color-surface-foreground-default: hsl(35 8% 96%);
        --color-surface-foreground-weak: hsl(35 8% 92%);
        --color-surface-foreground-weaker: hsl(35 8% 80%);
        --color-surface-foreground-weakest: hsl(35 8% 64%);
      }
    }

    @media (prefers-color-scheme: light) {
      :root {
        color-scheme: light;

        --color-surface-background-default: hsl(35 8% 100%);
        --color-surface-background-high: hsl(35 8% 96%);
        --color-surface-background-low: hsl(35 8% 92%);
        --color-surface-foreground-default: hsl(35 8% 4%);
        --color-surface-foreground-weak: hsl(35 8% 8%);
        --color-surface-foreground-weaker: hsl(35 8% 16%);
        --color-surface-foreground-weakest: hsl(35 8% 32%);
      }
    }
  }

  @layer font {
    :root {
      font-family: "Switzer", system-ui;

      --font-body-size-smaller: 12px;
      --font-body-size-small: 14px;
      --font-body-size-default: 16px;
      --font-body-size-large: 18px;
      --font-body-size-larger: 20px;
      --font-display-size-smaller: 24px;
      --font-display-size-small: 28px;
      --font-display-size-default: 32px;
      --font-display-size-large: 36px;
      --font-display-size-larger: 40px;
    }
  }

  @layer motion {
    :root {
      --motion-transition-duration: 240ms;
    }
  }
}

@layer layout {
  :where(html) {
    block-size: 100%;
  }

  :where(body) {
    min-block-size: 100%;
    display: grid;
    background-color: var(--color-surface-background-default);
    color: var(--color-surface-foreground-default);
  }
}
