@layer default, color, font, space, motion;

@layer default {
  *:where(
      :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: calc(1em + 8px);
  }

  :where(html) {
    block-size: 100%;
    color-scheme: light dark;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  :where(body) {
    min-block-size: 100%;
    background-color: var(--color-surface-background-default);
    color: var(--color-surface-foreground-default);
  }

  :where(img, picture, video, canvas, svg) {
    display: block;
    max-inline-size: 100%;
  }

  :where(input, button, textarea, select) {
    font: inherit;
  }

  :where(a, button) {
    cursor: revert;
  }

  :where(ol, ul, menu) {
    list-style: none;
  }

  ::placeholder {
    color: unset;
  }

  ::marker {
    content: initial;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: inherit;
    text-wrap: balance;
  }

  :where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
  }
}

@layer color {
  :root {
    --color-white: hsl(35 8% 100%);

    --color-gray-50: hsl(35 8% 96%);
    --color-gray-100: hsl(35 8% 92%);
    --color-gray-200: hsl(35 8% 88%);
    --color-gray-300: hsl(35 8% 80%);
    --color-gray-400: hsl(35 8% 64%);
    --color-gray-500: hsl(35 8% 48%);
    --color-gray-600: hsl(35 8% 32%);
    --color-gray-700: hsl(35 8% 16%);
    --color-gray-800: hsl(35 8% 12%);
    --color-gray-900: hsl(35 8% 8%);
    --color-gray-950: hsl(35 8% 4%);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;

      --color-surface-background-default: var(--color-gray-900);
      --color-surface-background-subtle: var(--color-gray-800);
      --color-surface-background-faded: var(--color-gray-700);
      --color-surface-foreground-default: var(--color-gray-50);
      --color-surface-foreground-weak: var(--color-gray-100);
      --color-surface-foreground-weaker: var(--color-gray-300);
      --color-surface-foreground-weakest: var(--color-gray-400);
      --color-surface-border-default: var(--color-gray-800);
      --color-surface-border-high: var(--color-gray-700);

      --color-action-background-neutral-default: var(--color-gray-800);
      --color-action-background-neutral-strong: var(--color-gray-700);
      --color-action-foreground-neutral-strong: var(--color-gray-50);
      --color-action-foreground-neutral-default: var(--color-gray-100);
      --color-action-foreground-neutral-subtle: var(--color-gray-300);
      --color-action-foreground-neutral-faded: var(--color-gray-400);
      --color-action-border-neutral: var(--color-gray-700);
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      color-scheme: light;

      --color-surface-background-default: var(--color-white);
      --color-surface-background-subtle: var(--color-gray-50);
      --color-surface-background-faded: var(--color-gray-100);
      --color-surface-foreground-default: var(--color-gray-900);
      --color-surface-foreground-weak: var(--color-gray-900);
      --color-surface-foreground-weaker: var(--color-gray-700);
      --color-surface-foreground-weakest: var(--color-gray-600);

      --color-action-background-neutral-default: var(--color-gray-50);
      --color-action-background-neutral-strong: var(--color-gray-100);
      --color-action-foreground-neutral-strong: var(--color-gray-900);
      --color-action-foreground-neutral-default: var(--color-gray-900);
      --color-action-foreground-neutral-subtle: var(--color-gray-700);
      --color-action-foreground-neutral-faded: var(--color-gray-400);
      --color-action-border-neutral: var(--color-gray-100);
    }
  }
}

@layer font {
  :root {
    font-family: "Switzer", system-ui;

    --font-body-size-smaller: 12px;
    --font-body-size-small: 14px;
    --font-body-size-default: 16px;
    --font-body-size-large: 18px;
    --font-body-size-larger: 20px;
    --font-display-size-smaller: 24px;
    --font-display-size-small: 28px;
    --font-display-size-default: 32px;
    --font-display-size-large: 36px;
    --font-display-size-larger: 40px;
  }
}

@layer space {
  :root {
    --space-layout-display: grid;
    --space-layout-inset: 20px;
    --space-layout-stack: 40px;
    --space-container-size: 960px;
  }
}

@layer motion {
  :root {
    --motion-transition-duration: 200ms;
  }
}
